body {
  padding: 0;
  margin: 0;
}

.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-black: rgb(19, 19, 19);
  --primary-white: white;
}

.bold {
  font-weight: bold;
}